$primary__1000: #43655a;
$primary__800: #628281;
$primary__600: #889fa5;
$primary__400: #b1bdc5;
$primary__200: #dadde2;
$box_shadow_dark: 0px 3px 7px rgba(black, 0.5);
$box_shadow_white: 0px 5px 10px rgba(white, 0.4);
